.container {
  text-align: center;
  margin-top: 50px;
}
.input-group{
  margin: 10px;
}
button {
  padding: 8px 15px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.result {
  font-weight: bold;
  color: green;
}