body{
    text-align: center;
    background-color: black;
    color: white;
}
h1{
    color: red
}
h1:hover{
    color: blue;
    font-size: 100px;
}
.big-text{
    color: blue;
    font-size: 50px;
}
.big-text:hover{
    color: red;
    font-size: 100px;
}

